<div role="main" class="container mt-5">
  <div class="d-flex justify-content-center">
    <h1>Contact Information</h1>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <img width="50" height="50" src="../../assets/telephone-fill.svg" alt="Telephone Icon">
      <div>Phone Number</div>
      <span>444-555-6666</span>
    </div>
    <div class="col text-center">
      <img width="50" height="50" src="../../assets/geo-alt-fill.svg" alt="Location Icon">
      <div>Address</div>
      <span>5555 N. Made Up Street</span>
      <div>Omaha, NE 68164</div>
    </div>
  </div>
</div>

